<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings>
        <add name="Sales"
          connectionString="Data Source=tcp:neioohcbpn.database.windows.net,1433;Initial Catalog=afshinSalesDatabaseSettingName;User ID=SalesAdmin@neioohcbpn;Password=Sales@dmin;Trusted_Connection=False;Encrypt=True;Connection Timeout=60;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
</configuration>